# ข้ามไฟล์การตั้งค่าของ IDE และ Log
.metadata/
*.log

# ข้ามโฟลเดอร์ที่เก็บไฟล์จากการคอมไพล์ (Debug/Release) ของทุกโปรเจกต์
**/Debug/
**/Release/

# ข้ามไฟล์ที่ได้จากการ Build ทั้งหมด
*.elf
*.bin
*.map
*.list
*.o
*.d
*.su